@charset "UTF-8";
/*
// Обнуление стилей
*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
// Общие стили
*/
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto"),
    url("./assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
   url("./assets/fonts/Roboto/Roboto-Regular.woff") format("woff"),
   url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("ttf"),
   url("./assets/fonts/Roboto/Roboto-Regular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto"),
   url("./assets/fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
   url("./assets/fonts/Roboto/Roboto-Medium.woff") format("woff"),
   url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("ttf"),
   url("./assets/fonts/Roboto/Roboto-Medium.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto"),url("./assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
   url("./assets/fonts/Roboto/Roboto-Bold.woff") format("woff"),
   url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("ttf"),
   url("./assets/fonts/Roboto/Roboto-Bold.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto"),
   url("./assets/fonts/Roboto/Roboto-Black.woff2") format("woff2"),
   url("./assets/fonts/Roboto/Roboto-Black.woff") format("woff"),
   url("./assets/fonts/Roboto/Roboto-Black.ttf") format("ttf"),
   url("./assets/fonts/Roboto/Roboto-Black.eot") format("eot");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: local("Inter"),
   url("./assets/fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
   url("./assets/fonts/Inter/Inter-SemiBold.woff") format("woff"),
   url("./assets/fonts/Inter/Inter-SemiBold.ttf") format("ttf"),
   url("./assets/fonts/Inter/Inter-SemiBold.eot") format("eot");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: local("Inter"),url("./assets/fonts/Inter/Inter-Regular.woff2") format("woff2"),
   url("./assets/fonts/Inter/Inter-Regular.woff") format("woff"),
   url("./assets/fonts/Inter/Inter-Regular.ttf") format("ttf"),
   url("./assets/fonts/Inter/Inter-Regular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  color: var(--color-white);
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body,
html {
  height: 100%;
}
.sait {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
  min-height: 500px;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

is-outer {
  position: relative !important;
  left: -999px !important;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


.btn {
  display: inline-block;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  background: #3C1491;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  background: #0000FF;
}
.page__title {
  margin-bottom: 40px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #333333;
}
/*======================
// header
==============*/
.header {
  background: #3C1491;
  padding: 20px 0px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
  position: relative;
}
.nav__list {
  display: flex;
  align-items: center;

}
.logo {
  margin-right: 40px;
  display: inline-block;
  width: 65px;
  height: 36px;
  overflow: hidden;
  border: 2px solid #3C1491;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.logo:hover {
  border: 2px solid #c8c8c8;
}
.logo_image {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 5px;
}

.nav__item {
  margin: 0px 15px;
}
.nav__item a {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #c8c8c8;
  transition: all 0.2s ease-in-out;
}
.nav__item a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.btn.btn--header {
  background-color: #c8c8c8;
  color: #0000FF;
}
.btn.btn--header:hover {
  background-color: #FFFFFF;
}
/*======================
// burger
==============*/
.burger-icon {
  width: 40px;
  height: 40px;
  position: relative;
  transition-duration: 1s;
  margin: 0px;
  cursor: pointer;
}
.burger-icon span {
  height: 5px;
  width: 40px;
  top: 20px;
  background-color: #337AB7;
  border-radius: 20px;
  position: absolute;
  transition-duration: .25s;
  transition-delay: .25s;    
}
.burger-icon span:before {
  left: 0;
  position: absolute;
  top: -12px;
  height: 5px;
  width: 40px;
  background-color: #337AB7;
  content: "";
  border-radius: 20px;
  transition-duration: .25s;
  transition: transform .25s, top .25s .25s;
}
.burger-icon span:after {
  left: 0;
  position: absolute;
  top: 12px;
  height: 5px;
  width: 40px;
  background-color: #337AB7;
  content: "";
  border-radius: 20px;
  transition-duration: .25s;
  transition: transform .25s, top .25s .25s;
}
.burger-icon.open span {
  transition-duration: 0.1s;
  transition-delay: .25s;
  background: transparent;
}
.burger-icon.open span:before {
  transition: top .25s, transform .25s .25s;
  top: 0px;
  transform: rotateZ(-45deg);
}
.burger-icon.open span:after {
  transition: top 0.4s, transform .25s .25s;
  top: 0px;
  transform: rotateZ(45deg);
}
.burger__wrapper {
  display: none;
}

@media (max-width: 767px) {
  .burger__wrapper {
    display: block;
   
  }
  
  .nav {
    position: absolute;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    border: 2px solid #c8c8c8;
    border-radius: 8px;
    background-color: #3C1491;
    top: 60px;
    left: 80px;
    transform: translate(0px, 20px);
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s linear 0s;
    z-index: -1;
  }
  .nav.open {
    transform: translate(0px, 0px);
    visibility: visible;
    opacity: 1;
    transition: all 0.4s linear 0s;
    z-index: 1;
  }
  
  /* .nav .nav__list {
    position: absolute;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    border: 2px solid #c8c8c8;
    border-radius: 8px;
    background-color: #3C1491;
    top: 60px;
    left: 80px;
    transform: translate(0px, -200px);
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s linear 0s;
  }
  .nav.open .nav__list{
    transform: translate(0px, 0px);
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: all 0.4s linear 0s;
  } */


  .nav__list li {
    white-space: nowrap;
    padding: 5px 0px;
  }
}
/*======================
// footer
==============*/
.footer {
  background: #3C1491;
  padding: 16px 0px;
  
}
.footer-wrapper {
  margin-bottom: 15px;
}
.copyright {
  padding: 20px 0px 10px;
  border-top: 2px solid #c8c8c8;
}
.copyright p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

/*======================
// main
==============*/
.main-main {
  background-image: url(../src/assets/img/Group1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main__wrap {
  padding-top: 120px;
  padding-bottom: 100px;
}
.main__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-title {
  margin-bottom: 40px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 60px;
  line-height: 130%px;
  color: #ffffff;
  text-align: center;
  text-shadow: 4px 5px 3px #3C1491;
}
.main__top .btn--header {
  margin-bottom: 40px;
  width: 250px;
}
.main__bottom {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(60, 20, 145, 0.6);
  border-radius: 20px;
}
.main__doptitle {
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 26px;
  line-height: 130%px;
  color: #ff7d7d;
}
.main__bottom p {
  margin: 10px 0px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 130%px;
  color: #ffffff;
}
.main__bottom_link {
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #c8c8c8;
  transition: all 0.2s ease-in-out;
}
.main__bottom_link:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .main-title {
    margin-bottom: 40px;
    font-size: 35px;
  }
  .main__wrap {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .nav__list {
    flex-direction: column;
    align-items: start;
  }
  .copyright p {
    font-size: 14px;
  }
  .logo {
    margin-right: 20px;
  }
}
/*======================
// login
==============*/
.form-wrapper {
  min-height: 500px;
  padding: 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-body {
  width: 300px;
}
.form-blok {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
label span {
  display: block;
}
label .input__feild {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #CECECE;
  border-radius: 5px;
}
.form__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__bottom_reg {
  margin-left: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0000FF;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
}
.form__bottom_reg:hover {
  text-decoration: underline;
}
.row3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}
.row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.form__agree {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  cursor: pointer;
}
.form__agree_check {
  cursor: pointer;
}
.form__agree span {
  margin-left: 20px;
}

.registration .form__bottom {
  justify-content: center;
}
/*======================
// Карточка сотрудника
==============*/
.person__wrap {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 40px;
}
.container-person {
  padding: 60px 15px 100px;
}
.person__info_row {
  display: flex;
  padding: 10px 0px;
  border-bottom: 1px solid gray;
}
.person__info_name {
  width: 150px;
  font-weight: 600;
}

/*======================
// Переключатель 
==============*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.approved {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.approved:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch input:checked + .approved {
  background-color: #2196F3;
}

.switch input:focus + .approved {
  box-shadow: 0 0 1px #2196F3;
}
.switch input:checked + .approved:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.approved.round {
  border-radius: 34px;
}

.approved.round:before {
  border-radius: 50%;
}
.person__btn_wrap {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
/*======================
// Таблица
==============*/
table.iksweb{
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
}
table.iksweb,table.iksweb td, table.iksweb th {
	border: 1px solid #595959;
}
table.iksweb td,table.iksweb th {
	padding: 3px;
	width: 30px;
	height: 35px;
}
table.iksweb th {
	background: #347c99; 
	color: #fff; 
	font-weight: normal;
}

.table__id {
  width: 30px;
}
/*======================
// message
==============*/

.form-message {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.row1 {
  max-width: 400px;
}
.form-body--row textarea {
  width: 100%;
  height: 100px;
  margin: 10px 0px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #CECECE;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .form-message {
    width: 100%;
  }
  .row2,
  .row3 {
    grid-template-columns: 1fr;
  }
}